html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, h7, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
	margin: 0;
	padding: 0;
}

h1 { font-family: 'Ubuntu-BoldItalic'; color: rgb(51, 51, 51); font-size: 1.8em; margin-left: 0.8em; margin-right: 0.8em; margin-top: 0.8em; margin-bottom: 0.8em; text-align:left;}
h2 { font-family: 'Ubuntu-BoldItalic'; color: rgb(51, 51, 51); font-size: 24px; margin-top: 18px; margin-bottom: 12px; text-align:left;}
.h3 { font-family: 'Ubuntu-BoldItalic'; font-style: italic; margin-top: 1.0em; margin-bottom: 1.0em; font-size: 1.8em; text-align: left;}

td { font-family: 'OpenSans'; color: rgb(1, 32, 61); font-size: 0.9em; margin-bottom: 14px; text-align:left;}
li { font-family: 'OpenSans'; color: rgb(1, 32, 61); font-size: 14px; margin-bottom: 14px; line-height: 1.5; text-align:left;}
/* kontakt-sida - måste mobilanpassas */
.testimonial { position: absolute; margin-top: 18px; margin-bottom: 14px; }
.sigill { float: right; } 
.kontaktSigill { float: none; margin: 60 auto; } 
.kontakttable {
    margin: 0 auto;
}
.p.kontakttable {
    margin: 0 auto;
}

/* tw - page conainers  */
#page-header,
#page-headerp2,
#page-footer {
    position: fixed;
    width: 100%;
    left: 0;
    background: #white;
    z-index:100000;
}

#page-header {
    top: 0;
    height: 80px;
    background-color: rgb(1,32,61);
}

#page-headerp2 {
    top: 80;
    height: 20px;
    background-color:WHITE;
}

#page-footer {
    bottom: 0;
    height: 15px;
}

#page-content {
    padding: 160px 0 15px;
}


.innerlightblue{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(99,177,251);
    text-align: center;
}
.innerlightgrey{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color:#abb6bf;
    text-align: center;
}


/* set image max width to 100% */
img {
	border: 0;
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

/* set html5 elements to block */
body, header, main, topicMenu, numberGroup, Text, footer, footerlightblue, blocklightgrey, footercopyright, nav, headerContent, kontaktaOss, mainTextLeft, textFragment, div, button { 
    display: block;
}

.mapContainer{
    float: right;
}
@media screen and (min-width: 600px) {
p { font-family: 'OpenSans'; color: rgb(1, 32, 61); font-size: 0.9em; margin-bottom: 0.9em; text-align:left; width:100%;}
.title1new { font-family: 'Ubuntu-BoldItalic'; font-style: italic; margin-top: 1.0em; margin-bottom: 1.0em; font-size: 2.0em; text-align: left;}
.title3new { font-family: 'Ubuntu-BoldItalic'; font-style: italic; margin-top: 1.0em; margin-bottom: 1.0em; font-size: 1.6em; text-align: center;}
.title4new { font-family: 'Ubuntu-BoldItalic'; font-style: italic; margin-top: 1.0em; margin-bottom: 1.0em; font-size: 1.1em; text-align: left;}

div.twkontakt{
    background:rgb(1,32,61);
	position: relative;
}
div.twkontakt img{
    padding-right: 3px;
    padding-top: 12px;
	position: absolute;
    right: 0px;
    z-index: 99999999999;
}
  .kontaktaOss {
    display: inline-block;
    position: absolute;
    left: 1018px;
    top: 48px;
    z-index: 10000000;
  }
  .inner {
    width: 968px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: white;
}
 
}
@media screen and (max-width: 600px) {
.p { font-family: 'OpenSans'; color: rgb(1, 32, 61); font-size: 0.9em; margin-bottom: 0.9em; margin-left:20px; text-align:center;}
.title1new { font-family: 'Ubuntu-BoldItalic'; font-style: italic; margin-top: 1.0em; margin-bottom: 1.0em; margin-left:1.0em; font-size: 2.0em; text-align: center;}
.title3new { font-family: 'Ubuntu-BoldItalic'; font-style: italic; margin-top: 1.0em; margin-bottom: 1.0em; margin-left:2.0em; font-size: 1.6em; text-align: center;}
.title4new { font-family: 'Ubuntu-BoldItalic'; font-style: italic; margin-top: 1.0em; margin-bottom: 1.0em; margin-left:3.0em; font-size: 1.1em; text-align: center;}

div.twkontakt{
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
}
div.twkontakt img{
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
}
  .kontaktaOss {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
  .inner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: white;
}
    .mainImg {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: auto;
    display: none;
  }
    .formArea {
    clear: both;
    float: left;
    margin: auto;
    width: 80%;
    display: block;
  }
    .mainImgRight {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 0px 0px 0px 0px;
    width: auto;
    display: none;
  }
  .div.tab-pane, div.tab-pane.active {
    display: inline-block;
    width: 80%; 
    background-color: blue;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    /*right:240px;*/
    text-align: center;
    /*padding-left: 60px;*/
   }
   .boxText{
    font-size: 1.5em;
    color: rgb(255, 255 , 255);
    font-family:Ubuntu-BoldItalic;
    display: block;
    margin: auto;
   }
}


/* Main */

body{
    /*min-width: 1100px;*/
	margin: 0px auto;    
}
main{
    text-align: center;
	float:left;
	background: #fff;
    
}
div.logo{
    background:rgb(1,32,61);
	position: relative;
}
div.logo img{
    padding-left: 10px;
    padding-top: 10px;
	position: absolute;
    left: 0px;
}
.mainText:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.mainText { display: inline-block; }
.mainText { display: block; zoom: 1; }


.formArea{
    float: left;
    text-align: left;
    width: 35%;
}
.mainImgRight{
    float: right;
    width: auto;
}

.mainImg{
    float: left;
    width: auto;
}

header{
    background-color: rgb(1,32,61);
    height: 102px;
    text-align: left;
	width: 100%;
    margin:auto;
}
button:focus {
    outline:none;
}
button::-moz-focus-inner {
    border:0;
}
.headerContent{
    display: inline-block;
}
.kontaktaOss{
    /*float: right;*/
    display: inline-block;
    position: absolute;
    right: 18px;
    top: 48px;
    z-index: 1000000;
}
.contentNytr{
    width:940px;
    display: inline-block;
    padding-bottom: 70px;
}
.contentBlock{
    text-align: left;
    margin-top: 18px;
    position: static;
}
.contentText{
    display: block;
    font-family: OpenSans;
    font-size: 1.0em;;
    /*width: 500px; resp*/
    padding: 10px 0;
    line-height: 1.8;
}
.contentText .contentBold{
    font-family: OpenSans-Bold;
}
.contentTitleMain{
    font-family: Ubuntu-BoldItalic;
    font-size: 1.4em;
    margin: 15px 0 10px 0;
}
.contentSelect{
    display: inline-block;
    background-color: rgb(235,237,240);
    padding: 20px;
    font-family: Ubuntu-Italic;
    font-size: 1.0em;
    line-height: 2;
    color: rgb(1,32,61);
}
.contentTitle{
    font-family: Ubuntu-Bold;
    font-size: 1.5em;
    display: block;
    margin-bottom: 0 !important;
    margin-top: 15px;
}
.contentImg{
    margin: 20px 0;
    max-width: 100%;
    display: block;
}
.leftContentNytr{
    position: relative;
    text-align: left;
    float: left;
    width: 380px;
    margin-top: 440px;

}
.rightContentNytr{
    float:right; width: 520px;
}

nav {
    float: right;
    font-family: Ubuntu-Medium;
    font-size: 1.2em;
    padding-right: 10px;
    height: 100%;
    display: table;
}
.headerText {
    height: 102px;
    display: table-cell;
    vertical-align: middle;
}
.bullet {
    color: rgb(99, 177, 251);
}
.cexfooterLink{
    color: rgb(51, 51, 51); 
    text-align:left; 
}
.cexfooterLink:link, .cexfooterLink:visited{
    padding: 0 10px;
    color: rgb(51, 51, 51);
    text-decoration: none;
    padding: 0 15px !important;  
    text-align:left; 
}
.cexfooterLink:hover{
    color: rgb(1,32,61);
    cursor: hand;
}
.ovkfooterLink{
    color: rgb(255, 255, 255);
    text-align:left; 
}
.ovkfooterLink:link, .ovkfooterLink:visited{
    padding: 0 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 15px !important;  
    text-align:left; 
}
.ovkfooterLink:hover{
    color: rgb(99, 177, 251);
    cursor: hand;
}
.headerLink:link, .headerLink:visited{
    padding: 0 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.headerLinkActive{
    color: rgb(99, 177, 251) !important;
}
.headerLink:hover{
    color: rgb(99, 177, 251);
    cursor: hand;
}
.visited .headerLink{
    color: rgb(255, 255, 255);
}
.headerLink:active {
    color: rgb(99, 177, 251);
}

.topicMenu{
    background-color: rgb(236,236,237);
}
.topicMenuImg{
    /*background: url("../images/main.jpg") no-repeat center;*/
    /*height: 599px; resp*/
}
.topicMenuImgWindowMan{
    background: url("/assets/images/main-window-man.jpg") no-repeat center;
    height: 599px;
}
.topicMenuImgTubeMan{
    background: url("/assets/images/main-tube-man.jpg") no-repeat center;
    height: 599px;
}
.topicMenuImgKeyGirl{
    background: url("/assets/images/main-key-girl.jpg") no-repeat center;
    height: 599px;
}
.topicMenuNytrImg{
    background: url("/assets/images/backgroundNytr.jpg") no-repeat center;
    height: 159px;
}
.tabPanel {
    text-align: center;
}
ul.nav.nav-tabs {
    display: inline-block;
    padding-top: 10px;
    border-bottom: rgb(3,71,135) solid;
}
ul.nav.nav-tabs > li.active{
    background-color: rgb(3, 71 ,135);
    border-radius: 10px 10px 0 0;
}
ul.nav.nav-tabs > li {
    border-radius: 10px 10px 0 0;
    background-color: transparent ;
    height: 48px;
}

ul.nav.nav-tabs > li:first-child {
    width: 230px;
}
ul.nav.nav-tabs > li:nth-child(2) {
    width: 417px;
}
ul.nav.nav-tabs > li:last-child {
    width: 293px;
}
ul.nav.nav-tabs > li.active{
    background-color: rgb(3, 71 ,135);
}

ul.nav.nav-tabs > li > a {
    font-family: Ubuntu-MediumItalic;
    font-size: 1.6em;
    color: rgb(1, 32 ,61);
    background-color: transparent;
    margin: 0;
    border: none;
    height: 48px;
}

ul.nav.nav-tabs > li > a:hover {
    color: rgb(99, 177, 251);
    border: none;
}

ul.nav.nav-tabs > li.active > a{
    font-size: 2.0em;
    color: rgb(255, 255 , 255);
    background-color: transparent ;
    border: none;
}
.iconArray {
    margin-right: 11px ;
    margin-bottom: 3px;
}
.downArray {
    content: url("/assets/images/down.png") no-repeat center;
}

.rightArray {
    content: url("/assets/images/right.png") no-repeat center;
}
div.tab-content{
    text-align: center;
    margin-top: 0px;
}
div.tab-pane, div.tab-pane.active {
    display: inline-block;
    width: 440px; 
    height: 440px;
    background: url("/assets/images/box.jpg") center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    /*right:240px;*/
    text-align: left;
    /*padding-left: 60px;*/
}
div.numberGroup{
    display: inline-block;
    position:relative;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(171,182,191);
}
div.numberBlock{
    display: inline-block;
    position:relative;
}
.numberTwo{
    margin-left: 10%; /*resp*/
}
.numberThree{
    margin-left: 10%; /*resp*/
}
.bigNumber{
    font-family: GothamProLight;
    font-size: 50px;
    color: rgb(99, 177, 251);
}
.numberText{
    display: inline-block;
    font-family: Ubuntu-Italic;
    font-size: 16px;
    color: rgb(1, 32, 61);
    line-height: 1.5;
    margin-left: 15px;
}

div.tab-pane-whiteboard.active {
    display: inline-block;
    /*width: 460px;resp
    height: 520px;
    background: url("../images/box_blue-white.jpg") no-repeat center;*/
    position: relative;
    /*right:240px;resp*/
    text-align: left;
    padding-left: 60px;
	background-size: contain;
}
div.tab-pane-nytr, div.tab-pane-nytr.active{
    width: 380px;
    /*height: 506px;*/
    background: url("/assets/images/boxNytr.jpg") no-repeat center;
    right:280px;
    padding-left: 27px;
}
.btn-group{
    height: 45px;
    border-radius: 5px;
    margin-top: 21px;
}


.btn-group:hover{
    box-shadow: 0 0 0 2px rgb(57, 114 , 169);
    border-radius: 7px;
}
.noShadow{
    box-shadow: none !important;
}
.btn-group.orange, .orange{
    box-shadow: 0 0 0 2px rgb(255, 140 , 42) !important;
    border-radius: 7px;
}
button.btn{
    outline: 0;
}

button.btn.dropdown-toggle{
    width: 299px;
    height: 100%;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    background-color: rgb(255, 255 , 255);
    border-radius: 5px 0 0 5px;
    font-size: 1.3em;
    font-family: Ubuntu-Italic;
    text-align: left;
    padding-left: 10px;
}
button.btn.dropdown-toggle:hover{
    width: 299px;
}
.buttonNytr, .buttonNytr:hover{
    width: 279px !important;
}
button.boxArray{
    background: url("/assets/images/boxArray.png") no-repeat center;
    width: 41px;
    height: 100%;
    margin: 0;
    background-color: rgb(1, 32 , 61);
    border-radius: 0 5px 5px 0 !important;
}
button.boxArray:hover {
    background: url("/assets/images/boxArrayBlue.png") no-repeat center;
    background-color: rgb(1, 32 , 61);
    width: 41px;
    outline: 0;
}
button.blueBack:hover, button.blueBack:focus,button.blueBack:active,button.boxArray:active,button.boxArray:focus{
    outline: 0;
}
ul.dropdown-menu {
    border: none;
    background-color: rgb(245, 245 , 245);
    border-radius: 0 0 5px 5px;
    width: 339px;
    padding: 0;
    margin-top:-1px;
    border-top: 2px solid rgb(57,114,169);
}
ul.dropdown-menu-nytr{
    width: 319px !important;
}

.dropdown-menu>li {
    color: rgb(3, 70 , 134);
    font-size: 1.3em;
    font-family: Ubuntu-Medium;
    height: 40px;
    padding-left: 10px;
    line-height: 40px;
    cursor: pointer;
    overflow:hidden;
}
.dropdown-menu>li:hover{
    background-color: rgb(216,226,235);
}
.borderRadiusLastLi{
    border-radius: 0 0 5px 5px !important;
}

.blueBack{
    background: url("/assets/images/boxArray.png") no-repeat center;
    background-color: rgb(99, 177 , 251);
    border-radius: 0 5px 0 0 !important;
    width: 41px;
    height: 100%;
    margin: 0;
}
.textFieldRadius {
    border-radius: 5px 0 0 0 !important;
}
.blueBack:active{
    background: url("/assets/images/boxArray.png") no-repeat center;
    background-color: rgb(99, 177 , 251);
    border-radius: 0 5px 0 0 !important;
    width: 41px;
    height: 100%;
    margin: 0;
}
.ubuntuRegular {
    font-family: Ubuntu-Regular;
}
.boxText{
    font-size: 1.5em;
    color: rgb(255, 255 , 255);
    font-family:Ubuntu-BoldItalic;
    display: block;
    margin-top: 18px;
    margin-left: 18px;
}
.boxTextslim{
    font-size: 1.5em;
    color: rgb(255, 255 , 255);
    font-family:Ubuntu-BoldItalic;
    display: block;
    margin-top: 18px;
    margin-left: 0px;
}
.boxTextBlack{
    font-size: 1.4em;
    font-weight: normal;
    font-style: normal;
    color: rgb(1, 32 ,61);
    font-family: Ubuntu-Italic;
    display: block;
    /*margin-top: 46px;
    width: 325px;
    margin-left: 16px;resp*/
}
.boxTextBlackFramed{
    border-width: 2px;
    border-color: rgb(1, 32 ,61);
    font-size: 1.3em;
    font-weight: normal;
    font-style: normal;
    color: rgb(1, 32 ,61);
    font-family: Ubuntu-Italic;
    display: block;
    margin-top: 22px;
    width: 325px;
    margin-left: 20px;
}
.boxTextLight{
    font-size: 1.3em;
    font-weight: normal;
    font-style: normal;
    color: rgb(255, 255 , 255);
    font-family: Ubuntu-Regular;
    display: block;
    margin-top: 15px;
    margin-right: 30px;
}
.boxTextNytr{
    font-size: 32px !important;
}
.inputLabel{
    font-size: 16px !important;
    margin-top: 8px !important;
}
.inputLabelNytr{
    font-size: 18px !important;
    margin-top: 6px !important;
}

.alertBox{
    position: relative;
    top:10px;
    left: 10px;
}
.alertBox.alertInput{
    top:-3px;
}
.boxArea{
    resize: none;
    width: 330px;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 18px;
    padding: 10px 10px 0px 0px;
    font-family:Ubuntu-Regular;
    font-size: 1.0em;
    font-weight: normal;
    color: rgb(0, 0, 0);
}
.inputField{
    margin-top: 0px;
}
.boxAreaNytr{
    width: 320px !important;
}
.newBoilerTextArea {
    height: 108px;
}
.RepairTextArea{
    height: 240px;
}
.boilerPlumbingRepairTextArea{
    height: 306px;
}
.boxArea:-moz-placeholder {
    font-size: 1.3em;
    font-family:Ubuntu-Italic;
    color: rgb(0, 0, 0);
}
.boxArea::-webkit-input-placeholder {
    font-size: 1.3em;
    font-family:Ubuntu-Italic;
    color: rgb(0, 0, 0);
}
.boxButton, .boxButtonService{
    display: block;
    background: url("/assets/images/button.png") no-repeat center;
    font-size: 24px;
    font-family: Ubuntu-Bold;
    width: 330px;
    height: 60px;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 1px 4px black;
    box-shadow: 1px 1px 4px black;
    position: absolute;
    margin-top: 18px;
    margin-left: 18px;
}
.boxTextButtonLight{
    display: block;
    background: url("/assets/images/button.png") no-repeat center;
    font-size: 24px;
    font-family: Ubuntu-Bold;
    margin-top: 15px;
    width: 340px;
    height: 60px;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 1px 4px black;
    box-shadow: 1px 1px 4px black;
    position: absolute;
    text-align:center;
    padding-top: 13px;
}
.boxTextButtonLight:hover{
    background: url("/assets/images/buttonHover.png") no-repeat center;
    text-shadow: 2px 2px 4px black;
    color: rgb(255, 255, 255);
    text-decoration:none;
}

.boxButtonNytr{
    width: 320px !important;
    bottom:30px !important;
}
.boxButton:hover, .boxButtonService:hover{
    background: url("/assets/images/buttonHover.png") no-repeat center;
    text-shadow: 2px 2px 4px black;
}
.boxButton:active, .boxButtonService:active{
    background: url("/assets/images/buttonClick.png") no-repeat center;
    text-shadow: 2px 1px 4px black;
}
}
.boxButtonNytr:hover, .boxButtonService:hover{
    background: url("/assets/images/buttonHover.png") no-repeat center;
    text-shadow: 2px 2px 4px black;
}
.boxButtonNytr:active, .boxButtonService:active{
    background: url("/assets/images/buttonClick.png") no-repeat center;
    text-shadow: 2px 1px 4px black;
}
.boxButtonImage{
    position: relative;
    top:5px;
    margin-right: 17px;

}
.boxButtonArray{
    position: relative;
    top: -1px;
    left: 20px;
    padding-right: 20px;
}
.quickEasy {
    margin-left: 350px;
    margin-top: 50px;
    z-index: 1000;
}
.logo100{
    /*display: inline-block;
    position: absolute;
    margin-left: -85px;
    margin-top:77px;
    padding-top: 30px;
    z-index: 1000;*/
	float: right;
}
.logo100.logoNytr{
    position: absolute;
    display: inline-block;
    margin-left: 215px;
    margin-top:-110px;
}
.logo100.logoUC{
    display: inline-block;
    position: absolute;
    margin-left: -85px;
    margin-top:77px;
    padding-top: 30px;
    z-index: 1000;
    height: 120px;
}

.tableCertifieradeFtg{
    font-family: OpenSans;
}
.headerCertifieradeFtg{
    font-family: OpenSans;
    font-size: 10px;
    font-weight: bold;
    border: solid 1px;
    padding: 10px;
    width: 80px;
}
.textCertifieradeFtg{
    font-family: OpenSans;
    font-size: 10px;
    font-weight: normal;
    color: black;
    border: solid 1px;
    padding: 10px;
}
.{
    font-family: Ubuntu-BoldItalic;
    font-size: 34px;
}
.h2{
    font-family: Ubuntu-BoldItalic;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.title1{
    font-family: Ubuntu-BoldItalic;
    font-size: 34px;
}
.textFragment{
	padding-right: 40px;
    font-family: OpenSans;
    font-size: 0.9em;
    padding-top: 25px;
}
.mainTextBold{
    font-family: OpenSans-Bold !important;
}
.title2{
    font-family: Ubuntu-BoldItalic;
    font-size: 1.8em;
    margin-top: 40px;
	text-align:	left;
}
.title22{
    font-family: Ubuntu-BoldItalic;
    font-size: 1.8em;
    margin-top: 40px;
	text-align:	center;
}
.title22w{
    font-family: Ubuntu-BoldItalic;
    font-size: 1.8em;
    margin-top: 40px;
	text-align:	center;
    color: white;
}
.mainUl{
    list-style-image: url('/assets/images/checkUl.png');
    margin-top: 10px;
    margin-left: 35px;
}
.mainUldark{
    list-style-image: url('/assets/images/checkUldark.png');
    margin-top: 10px;
    margin-left: 35px;
}
.mainOl{
    margin-left: 25px;
    margin-bottom: 20px;
    list-style-type: decimal;
}
.mainLiText{
    padding-top: 15px;
    font-family: OpenSans;
    font-size: 1.0em;;
    line-height: 2;
}
.liBig {
    line-height: 1 !important;
    font-size: 17px !important;
}
.title3{
    /*width: 170px; resp*/
    margin-top: 10px !important;
    margin-left: 20px;
	
}
.title4{
	font-family: Ubuntu-BoldItalic;
    font-size: 1.8em;
    margin-top: 40px;
	text-align:center;
}
.titleCarouselNytr{
    text-align: left;
    padding-left: 34px;
    width: 190px;
}
.faqTitle, .articlesTopicsTitle{
    display: block;
    font-family: Ubuntu-BoldItalic;
    font-size: 34px;
    text-align: left;
    margin-top: 30px;
}
.articlesTopicsTitle{
    font-size: 37px !important;
    margin-bottom: 20px;
    text-decoration: underline;
}
.articleItalic{
    font-size: 16px !important;
    font-style: italic;
}
.articleOnlyItalic{
    font-style: italic;
}
.articlesLinks{
    display: block !important;
    margin: 10px 0 !important;
    font-size: 16px;
}
.faqBlock{
    padding: 15px 0;
    border-bottom: 1px solid rgb(171,182,191);
    text-align: left;
}
.articlesBlock{
    padding: 15px 0;
    text-align: left;
}
.articlesLink{
    padding-left: 0 !important;
    text-decoration: underline;
    color: rgb(3,69,132);
}
.articlesText{
    margin-left: 0 !important;
}
.faqImg{
    vertical-align: top;
    padding-top: 5px;
}
.faqImgMinus{
    padding-top: 10px !important;
}
.faqQuestion{
    display: inline-block;
    max-width: 500px;
    font-family: OpenSans-Bold;
    font-size: 16px;
    color: rgb(3,69,132);
    padding-left: 5px;
}
span.faqQuestion:hover{
    cursor: pointer !important;
}
.faqQuestion:hover{
    cursor: default;
}
.faqAnswer{
    font-family: OpenSans;
    font-size: 14px;
    margin-left: 22px ;
    max-width: 500px;
    margin-top: 13px;
    color: rgb(1,32,61);
}
.faqQuestionOpen{
    color: rgb(1,32,61) !important;
}
.articlePlus{
    margin-right: 10px;
}
.carousel.slide{
    margin-top: 65px;
    margin-left: 15px;
}
.carousel.slide.ftgslider{
    margin-top: 1.4em;
    margin-left: 1.0em;
}
.carouselNytr{
    margin-left: 0px !important;
}
.carusel-text{
    text-align: left;
    font-style: italic;
    color: #c3c3c3;
}
.carouselIndicatorNytr{
    text-align: left;
    margin-left: -158px;
}
.carousel-indicators li {
    margin: 4px !important;
    height: 12px !important;
    width: 12px !important;
    background-color: #abb6bf !important;
    font-size: 200px;
}
.carousel-indicators .active {
    background-color: #63b1fb !important;
}
.carousel-indicators-bottom{
    padding-bottom: 70px;
    min-height: 200px;
}
.quotes-comments{
    display: inline-block;
}
.carousel-indicators-bottom > img{
    float: left
}
.carousel-inner {
    width: 310px;
    text-align: center;
}
.carusel-text{
    margin-left: 7px;
    font-family: 'Myriad Pro';
    font-size: 14px;
    font-style: normal !important;
    color: rgb(109, 108, 108);
}
.black{
    color: rgb(0, 0, 0);
}

.upperFooter{
    margin-top: 50px;
    min-height: 186px;
    background-color:rgb(235, 237, 240);
}
.upperFooterInfo{
    display: inline-block;
    width: 940px;
    text-align: left;

}

.upperFooterTitle{
    font-family: Ubuntu-BoldItalic;
    font-size: 26px;
    margin-top: 20px;
    display: inline-block;
}

.upperFooterButton{
    width: 149px;
    height: 35px;
    border: none;
    font-family: Ubuntu-MediumItalic;
    font-size: 16px;
    color: rgb(255,255,255);
    text-align: left;
    padding-left: 15px;
    padding-bottom: 5px;
    float: right;
    margin-top: 30px;
}
.footerButtonClose{
    background: url('assets/images/footerButtonLink.png');
}
.footerButtonClose:hover{
    background: url('assets/images/footerButtonHover.png');
}
.footerButtonClose:active{
    background: url('assets/images/footerButtonClick.png');
}
.footerButtonOpen{
     background: url('assets/images/footerButtonCloseLink.png');
}
.footerButtonOpen:hover{
    background: url('assets/images/footerButtonCloseHover.png');
}
.footerButtonOpen:active{
    background: url('assets/images/footerButtonCloseClick.png');
}
.brandsContainer{
    display: inline-block;
    width: 940px;
    text-align: left;
    margin-top: 20px;
}
.brandsContainerMore{
    display: inline-block;
    width: 940px;
    text-align: left;
    padding-bottom: 35px;
}
.brands{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    width: 90px;
    max-height: 55px;
}
.brandsMore{
    margin-top: 15px;
}
.brandsLeft{
    margin-left: 0 !important;
}
.brandsRight{
    margin-right: 0 !important;
}
.footer{
    background-color:rgb(1,32,61);
    text-align: center;
    padding-bottom: 35px;
}
.footerlightblue{
    background-color:rgb(99,177,251);
    text-align: center;
    padding-bottom: 35px;
}
.blocklightgrey{
    background-color:#abb6bf;
    text-align: center;
    padding-bottom: 35px;
}
.footercopyright2{
    background-color:#ffffff;
    text-align: center;
}
.footerContext{
    width: 940px;
    display: inline-block;
    height: 75px;
}
.footerCopyright{
    font-family: Ubuntu-Light;
    font-size: 16px;
    color: rgb(99,177,251);
    text-align: center;
}
.footerCexContext{
    width: 940px;
    display: inline-block;
    height: 175px;
}
.CexCopyright{
    font-family: Ubuntu-Light;
    font-size: 16px;
    color: rgb(99,177,251);
    display: inline;
    float: left;
    margin-top: 30px;
}
.footerCexText{
    display: relative;
    float: left;
    font-family: Ubuntu-Regular;
    font-size: 16px;
    margin-top: 30px;
    margin-right: 10px;
}
 .footerText{
    display: inline-block;
    float: right;
    font-family: Ubuntu-Regular;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px;
}
.footerLink{
    padding: 0 15px !important;
}
.kontaktText{
    display: relative;
    float: left;
    font-family: Ubuntu-Regular;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px;
}
.contentTable {
    max-width: 520px;
    margin-bottom: 30px;
}
.contentTable td{
    text-align: center;
    vertical-align: middle;
}
.contentTable td.left{
    text-align: left;
}
.contentTable td.padFirst{
    padding-left: 7px;
}
.contentTable tr{
    height: 40px;
}
.contentTableHead td{
    width: 105px;
}
.contentTableHead td.small{
    width: 100px;
}
.contentTableHead{
    font-family: OpenSans-Italic;
    font-size: 12px;
    color: rgb(1,32,61);
}
.grey{
    background-color: rgb(235,237,240);
}
.modal_form {
    width: 345px;
    height: 330px;
    background-color: rgb(255, 110, 21);
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.25);
    box-shadow: 2px 2px 3px rgba(0,0,0,.25);
    position: absolute;
    top: 70px;
    left: 56px;
    display: inline-block;
    z-index: 5;
    padding: 20px 10px;
    text-align: center;
}
.modal_form.modal_form_small{
    width: 325px !important;
    left: 25px !important;
}
.modal_form .modal_close, .modal_form_success .modal_close_success {
    background-image: url(assets/images/cross.png);
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    display: block;
}
.alertImg{
    margin-top: 10px;
}
.alertTitle{
    display: block;
    margin: 20px auto;
    text-align: center;
    width: 90%;
    font-family: Ubuntu-BoldItalic;
    font-size: 28px;
    color: rgb(255, 255, 255);
}
.alertText{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    font-family: Ubuntu-Regular;
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.8;
}
.modal_close_a, .modal_close_a:hover {
   text-decoration: underline;
    cursor: pointer;
    font-family: Ubuntu-Bold;
    font-size: 16px;
    color: rgb(255, 255, 255);
}
.modal_form_success {
    width: 340px;
    height: 310px;
    background-color: rgb(104, 161, 11);
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.25);
    box-shadow: 2px 2px 3px rgba(0,0,0,.25);
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -155px;
    margin-left: -170px;
    display: block;
    opacity: 0;
    z-index: 1006;
    padding: 20px 10px;
    text-align: center;
}
.overlay {
    z-index: 1000;
    position: fixed;
    background-color: #000;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: block;
}
.serviceUl{
    width: 940px;
    border: none !important;
    margin-bottom: 2px !important;
}
.nav.nav-tabs.serviceUl > li {
    width: 380px !important;
}
.serviceTitle{
    font-size: 30px !important;
}
.boxButtonService{
    width: 320px !important;
    position: relative;
    margin-top: 50px;
}
.serviceTextArea{
    height: 85px;
}
.modal_form_service{
    width: 325px !important;
    left: 25px !important;
    height: 410px !important;
    top: 10px;
}
.alertImgService{
    margin-top: 60px;
}
.height80{
    height: 80px
}
.articlesTopics ol{
    text-align: left;
}
.articlesBlock .articlesText ol, .articlesTopics ol{
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
    font-family: OpenSans-Bold;
    font-size: 16px;
    color: rgb(3,69,132);
}

.articlesBlock .articlesText ol > li, .articlesTopics ol > li {
    display: table;
    counter-increment: item;
}

.articlesBlock .articlesText ol > li:before, .articlesTopics ol > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;
}

.articlesBlock .articlesText li ol > li, .articlesTopics li ol > li {
    margin: 0;
}

.articlesBlock .articlesText li ol > li:before, .articlesTopics li ol > li:before {
    content: counters(item, ".") " ";
}
.articlesMar{
    margin-bottom: 10px !important;
    display: inline-block;
}
.articlesMar:hover{
    cursor: pointer !important;
    color: rgb(99, 177, 251);
}
.marg25{
    margin-bottom: 25px;
}

.firstForm {
    height: 36px !important;
    margin-top: 0px;
}

textarea.inputField {
    height: 80px;
}
.footerContext2{
    width: 960px;
    display: inline-block;
}

.footerGeoCol1 {
	display: inline-table;
	float: left;
	margin-right:15px;
	margin-top:15px;
}
.footerGeotableheader {
    font-weigth: bold;
text-decoration:underline;
float: left;
}
.footerGeotablelink {
    padding: 15px;
float: left;
    font-weight:normal;
}

.google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
}
.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

/* Fonts */
@font-face {
    font-family: 'Ubuntu-Bold';
    src: url(/assets/fonts/Ubuntu-B.ttf);
}
@font-face {
    font-family: 'Ubuntu-BoldItalic';
    src: url(/assets/fonts/Ubuntu-BI.ttf);
} 
@font-face {
    font-family: 'Ubuntu-LI';
    src: url(/assets/fonts/Ubuntu-LI.ttf);
}
@font-face {
    font-family: 'Ubuntu-Medium';
    src: url(/assets/fonts/Ubuntu-M.ttf);
}
@font-face {
    font-family: 'Ubuntu-MediumItalic';
    src: url(/assets/fonts/Ubuntu-MI.ttf);
}
@font-face {
    font-family: 'Ubuntu-Italic';
    src: url(/assets/fonts/Ubuntu-RI.ttf);
}
@font-face {
    font-family: 'Ubuntu-Regular';
    src: url(/assets/fonts/Ubuntu-R.ttf);
}
@font-face {
    font-family: 'Ubuntu-Light';
    src: url(/assets/fonts/Ubuntu-LI.ttf);
}

@font-face {
    font-family: 'GothamProLight';
    src: url(/assets/fonts/GothamProLight/GothamProLight.ttf);
}
@font-face {
    font-family: 'OpenSans';
    src: url(/assets/fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url(/assets/fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: 'OpenSans-Semibold';
    src: url(/assets/fonts/OpenSans-Semibold.ttf);
}
@font-face {
    font-family: 'OpenSans-Italic';
    src: url(/assets/fonts/OpenSans-Italic.ttf);
}